header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 2.4rem 0;
  position: absolute;
  top: 0;
  left: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      gap: 10.4rem;
      flex: 1;
      width: 100%;
      max-width: 896px;
      ul {
        display: flex;
        align-items: center;
        gap: 4rem;
        width: 100%;
        max-width: 57.6rem;
        li {
          a {
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--gray-100);
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .btn-mobile {
      display: none;
    }
  }
  @include responsive("laptop") {
    .container {
      gap: 4rem;
      nav {
        gap: 3.2rem;
        max-width: 83rem;
      }
    }
  }
  @include responsive("lap-xs") {
    .container {
      nav {
        ul {
          gap: 1.6rem;
          max-width: 49rem;
        }
      }
    }
  }
  @include responsive("tablet") {
    .container {
      nav {
        display: none;
      }
      .btn-mobile {
        display: block;
      }
    }
  }
}
