.btn {
  padding: 1.2rem 2.4rem;
  background-color: var(--yellow);
  color: var(--brown);
  font-size: 1.6rem;
  transition: all 0.3s ease;
  font-family: var(--font-title);
  border-radius: 12.2rem;
  font-weight: 600;
  &:hover {
    filter: brightness(0.9);
  }
  &.btn-secondary {
    font-family: var(--font-body);
    background: transparent;
    border: 1px solid var(--white);
    color: var(--gray-100);
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    line-height: 1.7rem;
    width: 21.7rem;
    display: inline-block;
    &:hover {
      background-color: var(--gray-100);
      color: var(--purple-10);
    }
  }
}

.card-testimonial {
  width: 100%;
  max-width: 38.4rem;
  height: 20.9rem;
  border-radius: 8px;
  background-color: rgba(241, 240, 245, 0.8);
  padding: 3.7rem 4rem 2.3rem 3.2rem;
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.1rem;
    span {
      font-size: 1.8rem;
      color: var(--gray-800);
      font-weight: 600;
      line-height: 112%;
      letter-spacing: -0.05rem;
    }
  }
  p {
    line-height: 2.7rem;
    font-size: 1.8rem;
    color: var(--gray-600);
  }
}
